* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);

}

h1,
h2 {
  color: rgba(0, 0, 0, 0.8);
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  text-decoration: underline;
}

img {
  width: 300px;
  height: auto;
}

ul {
  list-style: none;
}

li {
  position: relative;
  padding-bottom: 6px;
}

ul li::before{
   content: '';
   position: absolute;
   border-right:2px solid rgba(0, 0, 0, 0.6);
   border-bottom:2px solid rgba(0, 0, 0, 0.6);
   width:5px;
   height:5px;
   top: calc(50% - 4px);
   left: -20px;
   transform: translateY(-50%) rotate(-45deg);
}